<form action="" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="">

    <label for="name">Email Address:</label>
    <input type="email" name="email" id="">

    <label for="name">Message:</label>
    <input type="text" name="message" id="">
    <input type="submit" value="Submit">
</form>