<section>
    <article>
        <h1>Project1</h1>
        <img src="~/images/small-red-apple-hi.png" alt="">
        <p>description</p>
    </article>
    <article>
        <h1>Project2</h1>
        <img src="~/images/shape.gif" alt="">
        <p>description</p>
    </article>
    <article>
        <h1>Project3</h1>
        <img src="~/images/DELTA.png" alt="">
        <p>description</p>
    </article>
</section>